.footer{
    margin: 0 142rem 32rem 142rem;
    max-width: 1440rem;
    
    @include desktop-xs{
        margin: 0 50rem 32rem 50rem;
    }
}

.contacts{
    &__main{
        border-top: 1px solid var(--bordes);
        padding-bottom: 64rem;
        padding-top: 64px;
        border-bottom: 1px solid var(--bordes);
    }

    &__main-socials{
        min-width: 89px;
        max-width: 835rem;
        display: flex;
        justify-content: space-between;
        gap: 129rem;
        @include tablet{
            display: flex;
            justify-content: center;
            gap: 50rem;
        }

        @include tablet-s{
            display: grid;
            grid-template-columns: auto;
            gap: 80rem;

        }
    }
    &__main-name{
        color: var(--blanco);
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 24rem;
        line-height: 133%;
        min-width: 115rem;
        transition: 0.2s all ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        @include tablet-s{
            display: flex;
            justify-content: center;
        }
    }

    &__services-name{
        font-weight: 500;
        font-size: 16rem;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: var(--acento);
        margin-bottom: 24rem;

        @include tablet-s{
            display: flex;
            justify-content: center;
        }
    }

    &__email-marketing{
        color: var(--blanco);
        font-weight: 400;
        font-size: 14rem;
        line-height: 143%;
        letter-spacing: 0.02em;
        margin-bottom: 24rem;
        transition: 0.2s all ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        @include tablet-s{
            display: flex;
            justify-content: center;
        }
    }
    &__campaigns{
        color: var(--blanco);
        font-weight: 400;
        font-size: 14rem;
        line-height: 143%;
        letter-spacing: 0.02em;
        transition: 0.2s all ease-in-out;

        &:hover{
            transform: scale(1.1);
        }

        @include tablet-s{
            display: flex;
            justify-content: center;
        }
    }

    &__ending{
        margin-top: 16rem;
        font-weight: 400;
        font-size: 12rem;
        line-height: 133%;
        letter-spacing: 0.03em;
    }

    &__services-icons{
        display: flex;
        justify-content: space-between;
        gap: 16rem;
        align-items: start;
    }

    &__behance, &__linkendl, &__figma{
        transition: 0.2s all ease-in-out;

        &:hover{
            transform: scale(1.1);
        }
    }
}